/* Common */

#content > div {
  position: relative;
}

/* 主要的 Banner 區域 */

#content .main-banner {
  height: 496px;
  background-image: url(../images/others/annie-spratt-133872-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  margin-bottom: 227px;
}

#content .main-banner ul {
  width: 780px;
  position: absolute;
  left: 80px;
  top: 407px;
}

#content .main-banner ul > li {
  width: 33.333%;
  height: 256px;
  float: left;
  background-size: cover;
  background-position: center center;
}

#content .main-banner ul > li:first-child {
  background-image: url(../images/others/brooke-lark-230642-unsplash.jpg)
}

#content .main-banner ul > li:nth-child(2) {
  background-image: url(../images/others/whitney-wright-356670-unsplash.jpg)
}

#content .main-banner ul > li:last-child {
  background-image: url(../images/others/food-photographer-jennifer-pallian-306919-unsplash.jpg)
}

#content .main-banner ul > li > a {
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr ;
  letter-spacing: 10px;
  text-align: center;
  font-size: 21px;
  line-height: 256px;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 93, 69, .8);
  color: white;
}

#content .main-banner ul > li > a:hover {
  background-color: rgba(255, 225, 128, .8);
  color: #3F5D45;
}